/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/*
  ========================================
  Body
  ========================================
*/
body {
  background-color: #0d192c;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  ========================================
  Main(Which contains the main box) 
  ========================================
*/
.main {
  background-color: #15263f;
  width: 350px;
  height: 596px;
  border-radius: 15px;
  padding: 24px;
}

/*
  ========================================
  Equilibrium/eye img; class-top
  ========================================
*/

.top {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
}

.equilibrium {
  max-width: 100%;
  border-radius: 8px;
}

.eye-div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; 
  top: 0;
}

.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top:hover .eye-div{
  opacity: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00fff8;
  opacity: 0;
  top: 0;
}

.background:hover {
  opacity: 0.5;
  border-radius: 8px;
}


/*
  ========================================
  heading 1 and paragraph
  ========================================
*/

h1 {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 302px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: white;
  cursor: pointer;
}

h1:hover {
  color: #00fff8;
}

p {
  color: #8bacd9;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-family: "Outfit", sans-serif;
  padding-bottom: 24px;
}

/*
  ========================================
  etherium price with img and days left with img
  ========================================
*/

.middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1pt solid;
  border-color: #2E405A;
  margin-bottom: 22px;
}

.middle-left {
  display: flex;
  align-items: center;
  color: #00FFF8;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
}

.middle-left img{
  margin-right: 6.48px;
}

.middle-right {
  display: flex;
  align-items: center;
  color: #8BACD9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
}

.middle-right img{
  margin-right: 9.03px;
}

/*
  ========================================
  Creators img and text
  ========================================
*/

.bottom {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #8BACD9;
}

.inventor{
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 16px;
  width: 33px;
}

.creation{
  color: #8BACD9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
}

.creator{
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
  margin-left: 5px;
  cursor: pointer;
}

.creator:hover {
  color: #00FFF8;
}

